<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="test1" class="pro.bolshakov.geekbrains.springleveltwo.lesson03.spel.example4.ValueHolder">
        <constructor-arg name="value"
                         value="#{T(java.util.UUID).randomUUID().toString()}"/>
    </bean>

    <bean id="example2" class="pro.bolshakov.geekbrains.springleveltwo.lesson03.spel.example4.ValueHolder">
        <constructor-arg name="value"
                         value="#{example1.value}"/>
    </bean>

    <bean id="example3" class="pro.bolshakov.geekbrains.springleveltwo.lesson03.spel.example4.ValueHolder">
        <constructor-arg name="value"
                         value="#{systemProperties['java.home']}"/>
    </bean>
</beans>